In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('kyphosis.csv')

In [5]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [6]:
data.shape

(81, 4)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [8]:
x = data.drop('Kyphosis', axis=1)

In [9]:
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [10]:
y = data['Kyphosis']

In [11]:
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_trian, y_test = train_test_split(x, y, test_size=0.3)

In [13]:
x_train.shape

(56, 3)

In [14]:
x_test.shape

(25, 3)

### Decision Tree

In [15]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_trian)

DecisionTreeClassifier()

In [18]:
pred = model.predict(x_test)

In [19]:
y_test

48    present
71     absent
25     absent
43     absent
80     absent
49     absent
50     absent
39    present
36     absent
34     absent
15     absent
58     absent
55     absent
7      absent
77     absent
56     absent
26     absent
62     absent
51     absent
9     present
57    present
11     absent
54     absent
47     absent
1      absent
Name: Kyphosis, dtype: object

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.76

In [22]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[16,  5],
       [ 1,  3]], dtype=int64)